@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital@1&display=swap');
    *{
        margin: 0;
    padding: 0;
}
.logo{
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.logo img{
    width: 50%;
    
}
.navbar{
     display: flex;
     align-items: center;
     justify-content: center;
     position: sticky;
     top:0;
     cursor:pointer;
}

.nav_list{
     width: 75%;
     background-color: rgb(0, 0, 0);
     display: flex;
     align-items: center;
     

}

.nav_list li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'Ubuntu',;
}

.nav_list li a:hover{
    
    color: rgb(0, 140, 255);
}

.nav_list li {
    list-style: none;
    padding: 15px 25px;
}

.rightNav{
    background-color: rgb(0, 0, 0);
    width: 40%;
    text-align: right;
    padding: 24px 23px;
    
}
.btn-sm{
    padding:5px;
    font-size: 12px;
    border: 2px solid grey;
    border-radius: 9px;

}
.background{
    background: rgba(0, 0, 0, 0.7) url('../img/background.jpeg');
    background-size: cover;
    background-blend-mode: darken;
}

.box-main{
    display: flex;
    justify-content: center;
    align-items: center;
    color:rgb(190, 185, 185);
    font-family: 'Akaya Telivigala', cursive;
    max-width: 100%;
    
    height:95%;
}

.firstSection{
    height: 90vh;
}

.firsthalf{
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 100px;
}
.secondhalf{
    width: 55%;
    padding: 0 50px;
}

.container{
    border: 4px solid rgb(170, 167, 167);
    border-radius: 20px;
    
    top: 30%;
    left:70%;
   

}

.container h1{
display:inline-block;
font-size: 52.75px;
padding:0 30px;

margin-bottom: 13px;
border-bottom: 7px solid grey;
}

.box{
    width: 100%;
    border-bottom: 2px solid grey;
    margin: 32px 0px;
    
}
.box input{
    background: none;
    width: 85%;
    padding: 5px 5px;
    border: none;
    font-size: 20px;
    outline: none;
    color: white;
}

.btn{
    cursor: pointer;
    outline: none;
    font-weight: bold;
    margin: 15px 5px;
    padding: 10px 21px;
    border-radius: 10px;
    font-size: 18px;
    color: white;
    background: none;
    border: 2px solid grey;
    
    
}
.btn:hover{
    color: grey;
    background: white;
    
}
.text-big{
font-size: 50px;

}
.text-small{
font-size: 25px;

}
.btn-sm{
    cursor: pointer;
    padding: 6px 20px;
    vertical-align: middle;
    background: none;
    border: 2px solid grey;
    color: white;
}
.btn-sm:hover{
    color: grey;
    background: white;
    
}
.section{
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
    font-family: 'Ubuntu', sans-serif;
    padding: 10px 100px;
    
}

.section-left{
    flex-direction: row-reverse;
}

.hungerimg{
    
    border-radius: 10px;
    border: 4px solid rgb(0, 0, 0);
    width:450px;
    height: 300px;
    margin-left: 70px;
    margin-right: 70px;
}
.text-footer{
    text-align: center;
    padding: 30px;
    font-family: 'Ubuntu';
    display: flex;
    justify-content: center;
    color: white;
}